
MidstonePlatformer/MidstonePlatformer/x64/Debug/Midstone.b3823a4d.tlog/CL.command.1.tlog
MidstonePlatformer/MidstonePlatformer/x64/Debug/Midstone.b3823a4d.tlog/CL.read.1.tlog
MidstonePlatformer/MidstonePlatformer/x64/Debug/Midstone.b3823a4d.tlog/CL.write.1.tlog
MidstonePlatformer/MidstonePlatformer/x64/Debug/Midstone.b3823a4d.tlog/MidstonePlatformer.lastbuildstate
MidstonePlatformer/MidstonePlatformer/Debug/vc142.pdb
MidstonePlatformer/MidstonePlatformer/Debug/vc142.idb
MidstonePlatformer/MidstonePlatformer/Debug/MidstonePlatformer.log
MidstonePlatformer/MidstonePlatformer/Debug/MidstonePlatformer.exe.recipe
MidstonePlatformer/MidstonePlatformer/Debug/Midstone.b3823a4d.tlog/CL.command.1.tlog
MidstonePlatformer/Debug/MidstonePlatformer.ilk
MidstonePlatformer/Debug/MidstonePlatformer.ilk
MidstonePlatformer/MidstonePlatformer/x64/Debug/Midstone.b3823a4d.tlog/unsuccessfulbuild
